button {
  outline: none;
  border: 0;
  cursor: pointer;
}
.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0, 0.1em;
  background-color: transparent;
}

.habbit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.header {
  display: flex;
  background-color: wheat;
  align-items: center;
  padding: 0.5em;
}

.fa-leaf {
  font-size: 2.5rem;
  color: green;
  margin: 10px;
}

.habitCount {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: green;
  color: white;
  border-radius: 50%;
}

.resetBtn {
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-left: 10px;
  background-color: green;
}
.input-habit {
  margin-top: 15px;
  margin-left: 5px;
  width: 300px;
  height: 30px;
  border: 1px solid #999999;
  font-size: 2rem;
  padding: 5px;
}
.habit-add {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-left: 10px;
  background-color: green;
}
